@import url(reset-base.css);

/*common*/

body {font:12px/1.5 tahoma, helvetica, arial, sans-serif;}

div, span {overflow:hidden;}

input{border:solid 1px #999;font-size:12px;vertical-align:middle;}
input[type="text"] {border:solid 1px #888;}

textarea {border:solid 1px #999;font-size:12px;}

#wrap {height:688px;}

#info {height:30px;line-height:30px;}
#info1 {float:left;padding-left:20px;background:url(icon/msg.gif) no-repeat left center;}
#info2 {float:right;}

#main {height:560px;overflow:auto;scrollbar-shadow-color:#fff;scrollbar-3dlight-color:#d9d9d9;scrollbar-arrow-color:#fff;scrollbar-track-color:#fff;scrollbar-darkshadow-color:#d9d9d9;}
#main .menu {border-bottom:1px solid #ccc;}
#main .menu a {display:inline-block;margin:0 3px 0 0;padding:2px 10px;background:#f7f7f7;color:#999;}
#main .menu a:hover {background:#ccc;}
#main .menu .actives {background:#ccc;color:#333;}

/*nmc*/

#main_nmc {width:100%;max-width:900px;height:680px;}


/*admin*/

#main_admin {padding-top:3px;}

#main_admin dl {}
#main_admin dt {font-weight:bold;}
#main_admin dd {padding-left:30px;}

.user_list th,
.user_edit th {background:#eee;padding-left:5px;text-align:left;}

.user_list td,
.user_edit td {border-bottom:solid 1px #ccc;padding-left:5px;text-align:left;}

.multiPage {margin:10px 0 0;padding:3px;text-align:right;}
.multiPage a {margin:0 3px 0 0;border:1px solid #ccc;padding:3px 5px;background:#f7f7f7;color:#999;}
.multiPage a:hover {background:#ccc;}
.multiPage a.active {background:#ccc;color:#333;}


/*help*/

#help_tabs {padding:3px 0;}
#help_tabs span {margin:0 5px;}

#help_content {}
#help_content dt a {background:url(icon/read.gif) no-repeat left;padding-left:20px;}
#help_content dd {padding-left:20px;}

.help_show_icon {background:url(icon/show.gif) no-repeat center;height:13px;}
.help_hide_icon {background:url(icon/hide.gif) no-repeat center;height:13px;}


/*vip*/

.choose{background: url(vip/bt.gif) no-repeat 0 -23px;padding:0 0 0 13px;line-height:23px;}

.vip_info {float:left;}
.vip_info b {color:#8F1B00;}
.vip_exp {float:right;width:506px;}
.vip_exp_signs {position:relative;height:21px;margin-top:7px;}
.vip_exp_signs span {position:absolute;top:-2px;left:20px;font-size:12px;font-weight:bold;color:#8F1B00;}
.vip_exp_signs .item0 {position:absolute;top:0;background:url(vip/bt.gif) no-repeat -40px 0;width:30px;height:21px;}
.vip_exp_signs .item1 {position:absolute;top:0;background:url(vip/bt.gif) no-repeat 0 0;width:30px;height:21px;}
.vip_exp_signs .item2 {position:absolute;top:0;background:url(vip/bt.gif) no-repeat 0 0;width:30px;height:21px;}
.vip_exp_line {height:18px;overflow:hidden;}
.vip_exp_line .l0 {float:left;background:url(vip/line.gif) no-repeat 0 0px;width:3px;height:8px;overflow:hidden;}
.vip_exp_line .l1,
.vip_exp_line .l2 {float:left;background:url(vip/line.gif) no-repeat 0 -40px;width:3px;height:8px;overflow:hidden;}
.vip_exp_line .c0 {float:left;background:url(vip/line.gif) 0 -10px;width:500px;height:8px;overflow:hidden;}
.vip_exp_line .c1,
.vip_exp_line .c2 {float:left;background:url(vip/line.gif) 0 -60px;width:500px;height:8px;overflow:hidden;}
.vip_exp_line .m0 {float:left;background:url(vip/line.gif) 0 -30px;height:8px;overflow:hidden;}
.vip_exp_line .m1 {float:left;background:url(vip/line.gif) 0 -50px;height:8px;overflow:hidden;}
.vip_exp_line .m2 {float:left;background:url(vip/line.gif) 0 -80px;height:8px;overflow:hidden;}
.vip_exp_line .r0 {float:left;background:url(vip/line.gif) no-repeat 0 -20px;width:3px;height:8px;overflow:hidden;}
.vip_exp_line .r1,
.vip_exp_line .r2 {float:left;background:url(vip/line.gif) no-repeat 0 -70px;width:3px;height:8px;overflow:hidden;}

#vip_pay {margin-top:10px;}
#vip_pay dd {float:left;padding-right:20px;}
#vip_pay .doPay {padding:30px 0 0 300px;}
