<style type="text/css">
@import url(gohoohhungtrung/css/main.css);
</style>
<div class="c_header a_header">
		<div class="avatar48"><a href="space.php?uid=$space[uid]"><!--{avatar($space[uid],small)}--></a></div>

	<p style="font-size:14px"><strong>Trang trại trứng vàng</strong></p>
	Trang trại trứng vàng luôn mở cửa để bạn vui chơi.
</div>
<div class="tabs_header">
	<ul class="tabs">
		<li{$actives['index']}><a href="gohoohhungtrung.php?ac=index"><span>Hứng trứng</span></a></li>

<!--		<li{$actives['share']}><a href="gohoohhungtrung.php?ac=share"><span>Chia sẽ</span></a></li>-->
        <li{$actives['friendorder']}><a href="gohoohhungtrung.php?ac=friendorder"><span>Bạn bè</span></a></li>
		<li{$actives['order']}><a href="gohoohhungtrung.php?ac=order"><span>Xếp hạng</span></a></li>
	</ul>
</div>
