<!--{eval $_TPL['titles'] = array('Game hứng trứng vàng ở Trang trại trừng vàng trên mạng xã hội Nhà Tui - GoHooH.Com');}-->
<!--{template header}-->
<!--{template gohoohhungtrung/view/fgame_header}-->
<div class=div_layout>
	<div class=left>
			<div>
				<div overflow="hidden" height="407" width="560">
 <table width="97%" border="0" align="center" cellpadding="5" cellspacing="1" bgcolor="#CCCCCC">
    <tr >
      <td height="25" align="center" bgcolor="#FFFFFF">Thứ hạng</td>
      <td align="center" bgcolor="#FFFFFF">Tên</td>
      <td align="center" bgcolor="#FFFFFF">Điểm số</td>
    </tr>
    <!--{loop $arktopArr $key $value}-->
    <tr>
      <td height="25" align="center" bgcolor="#FFFFFF">N°:<strong style="color:#FF0000"><!--{$key}--></strong></td>
      <td align="center" bgcolor="#FFFFFF"><div class="avatar48"><a href="space.php?uid=$value[uid]" title="{$_SN[$value[uid]]}" target="_blank"><!--{avatar($value[uid],small)}--></a></div> <!--{$value[username]}--></td>
      <td align="center" bgcolor="#FFFFFF"><!--{$value[score]}--></td>
    </tr>
<!--{/loop}-->
    <tr>
      <td height="30" colspan="3" align="center" bgcolor="#FFFFFF"><div class="page" style="padding-top: 12px;"><!--{$page}--></div></td>
      </tr>
  </table>
				</div>			
			</div><br>	

		<div>
		
		</div>
	</div>

<div id="gohoohhungtrungbar">

<div class="sidebox">
		<h2 class="title">
			<p class="r_option">
				
			</p>
			hông tin của tôi
		</h2>
		<ul class="gohoohhungtrung_list">

					<li>Thứ hạng:  <!--{$myrk}--> / <!--{$allrk}--></li>
				
					<li>Điểm số: <!--{$score}--> điểm</li>
		</ul>
  </div>



<!--{if $dayrktopArr}-->	
<div class="sidebox">
		<h2 class="title">
			Top trong ngày
		</h2>
		<ul class="gohoohhungtrung_list">
				<table width="220" align="center"><!--{loop $dayrktopArr $key $value}-->	
					<tr>
						<td style="padding-right:6px;"><!--{$key}--></td>
						<td style="padding-right:6px;"><a href="space.php?uid={$value[uid]}" target="_blank">{$value[username]}</a></td>
						<td><!--{$value[score]}--> điểm</td>
					</tr><!--{/loop}-->
	</table>
		</ul>
  </div>
<!--{/if}-->



<!--{if $weekrktopArr}-->	
<div class="sidebox">
		<h2 class="title">
			Top trong tuần
		</h2>
		<ul class="gohoohhungtrung_list">
				<table width="220" align="center"><!--{loop $weekrktopArr $key $value}-->	
					<tr>
						<td style="padding-right:6px;"><!--{$key}--></td>
						<td style="padding-right:6px;"><a href="space.php?uid={$value[uid]}" target="_blank">{$value[username]}</a></td>
						<td><!--{$value[score]}--> điểm</td>
					</tr><!--{/loop}-->
	</table>
		</ul>
  </div>
<!--{/if}-->


<!--{if $mrktopArr}-->	
<div class="sidebox">
		<h2 class="title">
			TOP 3
		</h2>
		<ul class="gohoohhungtrung_list">
				<table width="220" align="center"><!--{loop $aarktopArr $key $value}-->	
					<tr>
						<td style="padding-right:6px;"><!--{$key}--></td>
						<td style="padding-right:6px;"><a href="space.php?uid={$value[uid]}" target="_blank">{$value[username]}</a></td>
						<td><!--{$value[score]}--> điểm</td>
					</tr><!--{/loop}-->
	</table>
		</ul>
  </div>
<!--{/if}-->
	
	
  </div>
	</div>	

<!--{template footer}-->