<div class="menu">
	<!--{php $active[$mod_name.'_'.$type] = ' class="active"';}-->
	<a{:$active[market_nc_index]} href="tools.php?mod=market&act=nc&type=index">[Giao dịch] Trồng trọt</a>
	<a{:$active[market_nc_myitem]} href="tools.php?mod=market&act=nc&type=myitem">Nông cụ</a>
	<a{:$active[market_nc_myproduct]} href="tools.php?mod=market&act=nc&type=myproduct">Nông sản</a>
	<a{:$active[market_mc_index]} href="tools.php?mod=market&act=mc&type=index">[Giao dịch] Chăn nuôi</a>
	<a{:$active[market_mc_myproduct]} href="tools.php?mod=market&act=mc&type=myproduct">Sản phẩm</a>
</div>