<!--Game ngôi nhà hạnh phúc được phát triển bởi Kết Nối trẻ group -->
<!--Vui lòng giữ bản quyền Việt hóa của Kết Nối trẻ group -->
<!--Cám ơn bạn đã sử dụng sản phẩm của Kết Nối trẻ group -->
<!--{eval $_TPL['titles'] = array('Game Ngôi nhà hạnh phúc - Kết Nối trẻ Group');}-->
<!--{template header}-->
<!--{template house/view/menu}-->
<div class="s_clear">
	<div style="background-color: #FFFFFF; line-height: 25px;">
		<div style="border: 5px solid rgb(229, 235, 243); padding: 25px;">
			<div style="margin: 5px 30px; padding: 0pt; width: 92%; font-size: 14px;">
				<h1 style="text-align: center; margin-top: 10px;font-size:16px;margin-bottom: 8px;">Kỷ nguyên sống chung</h1>
				<h2 style="border-top: 1px solid rgb(234, 184, 26); margin: 0pt; padding: 3px 5px; background: rgb(255, 217, 86) none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial;">
					Làm thế nào để kiếm tiền?
				</h2>
				<p style="padding: 5px; line-height: 25px; margin-left: 10px;">
					1, đăng nhập game, mọi người đều có tiểu của chính họ, và<strong>{$house_config['money']}</strong>Gold ban đầu tiền.<br/>
					2, có thể cho căn nhà của họ một tên, và sau đó chờ cho người khác thuê, hoặc gửi cho mình một lời mời, xin vui lòng bạn bè để thuê. Tiền thuê nhà do chủ nhà đã đặt chính nó (mỗi 24 giờ). <br/>
					3、Để người lao động trường lao động, kinh nghiệm giá trị công việc để kiếm tiền. <br/>
				</p>
				<h2 style="border-top: 1px solid rgb(234, 184, 26); margin: 0pt; padding: 3px 5px; background: rgb(255, 217, 86) none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial;"><strong>Làm thế nào tiền thuê nhà</strong>？	</h2>
				<p style="padding: 5px; line-height: 25px; margin-left: 10px;">
					1、Nếu đi bộ ngẫu nhiên trên đường phố không sống trong căn nhà sẽ được phân bổ cho mỗi giờ<strong>10</strong>Vàng. Và cũng có thể chạy vào bất ngờ, chẳng hạn như bị cắn bởi chó, bị bắt giữ bởi cảnh sát. Mỗi nút<strong>200</strong>，Vì vậy, nó đã nhanh chóng tìm thấy một nơi để sống。 <br/>
					2、Nhấp vào trang bạn bè, nếu TA đã tìm thấy một tiền thuê nhà, bạn có thể thuê xuống, và để trả tiền thuê nhà, cho thuê thời hạn 24 giờ, và sau đó bạn có thể hỏi bạn bè đến và sống với bạn.	</p>
				<h2 style="border-top: 1px solid rgb(234, 184, 26); margin: 0pt; padding: 3px 5px; background: rgb(255, 217, 86) none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial;"><strong>Làm thế nào để chung sống</strong>？	</h2>
				<p style="padding: 5px; line-height: 25px; margin-left: 10px;">
					1、Nếu bạn thuê nhà sau khi những người bạn khác vào trang của bạn, nếu TA muốn sống với bạn, TA có thể ở lại, trở thành Tongjumiyou của bạn. Hai người có thể chia sẻ tiền thuê nhà. Tất nhiên, nếu bạn nhìn vào TA không hài lòng, bạn có thể đưa anh ta đến lề đường. <br/>
					2、Sống chung có thể được duy trì 24 giờ, khi thời gian được tự động nâng lên, sự thân mật<strong>500</strong>Đổi mới ngày, quá trình chung sống, bất kỳ bên nào cảm thấy không hài lòng với đá. Đá trả<strong>{$house_config['push']}</strong>Vàng. <br/>
					3、Sống chung, và các đối tượng chung sống theo thời gian và tiếp cận với sự gần gũi, chung sống được 1 giờ<strong>10</strong>Sự gắn kết, nếu nó là đá ông, -20 sự thân mật. <br/>
					4、Sống với nhau, bạn có thể chọn và gửi đến các hành động chung khác của pháp luật. Chẳng hạn như xem phim, hoa và vv. Một sự cố mà bên tham<strong>100</strong>Vàng, tăng 10 sự gần gũi quan hệ song phương. <br/>
					5、Bạn cũng có thể mất đi những người khác và sống với bạn, nhưng nó cần phải trả<strong>{$house_config['focus']}</strong>Vàng, tất nhiên, cướp của bạn, bạn có thể tập thể dục đặc quyền để phổ biến pháp luật đối tác. <br/>
					6、người bị cướp ngoài TA kick bạn hoặc của người khác một lần nữa từ tay TA của bạn đi, hoặc người nào khác trong vòng 24 giờ của TA không thể rời khỏi nhà hiện hành. <br/>
					7、Chế độ hoạt động trong nhà ở hiện tại và những người sống với nhau không phải là trường hợp, hãy nhấp vào [<strong>Mời chia sẻ</strong>] Có thể nhập vào giao diện lời mời, có hai cách, một là gửi một yêu cầu kết bạn (miễn phí), một cách khác là để có được người dân.	</p>
				<h2 style="border-top: 1px solid rgb(234, 184, 26); margin: 0pt; padding: 3px 5px; background: rgb(255, 217, 86) none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial;"><strong>Lao động Hall</strong></h2>
				<p style="padding: 5px; line-height: 25px; margin-left: 10px;">
					Bất cứ ai cũng có thể đến đây để kinh nghiệm làm việc nhưng phải được dựa trên giá trị của quyền chọn công việc của bạn. <br/>
					Thực tập, bất cứ ai có thể tham gia, tiền lương<strong>2000</strong>Gold / 24 giờ. <br/>
					Công nhân cổ xanh công việc, kinh nghiệm thực tế trong năm ngày trước khi họ có thể tham gia, tiền lương<strong>3000</strong>Gold / 24 giờ.<br/>
					công nhân việc làm cổ áo trắng, đã có 10 ngày trước khi họ có thể tham gia vào kinh nghiệm công nhân cổ xanh, tiền lương<strong>5000</strong>Gold / 24 giờ. <br/>
					công nhân cổ vàng, công nhân cổ áo trắng đã có kinh nghiệm 20 ngày trước khi họ có thể tham gia, tiền lương<strong>8000</strong>Gold / 24 giờ. </p>
				<h2 style="border-top: 1px solid rgb(234, 184, 26); margin: 0pt; padding: 3px 5px; background: rgb(255, 217, 86) none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial;"><strong>sự thân mật của tôi</strong></h2>
				<p style="padding: 5px; line-height: 25px; margin-left: 10px;">
					Hiển thị và tất cả các bạn bè tôi có sự gắn kết từ cao đến thấp.</p>
				<h2 style="border-top: 1px solid rgb(234, 184, 26); margin: 0pt; padding: 3px 5px; background: rgb(255, 217, 86) none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial;"><strong>Thị trường nhà ở</strong></h2>
				<p style="padding: 5px; line-height: 25px; margin-left: 10px;">Người sử dụng tích lũy một số tiền nhất định sau đó, bạn có thể chọn phòng yêu thích của bạn trong nhà đi kèm với các tính năng tốt hơn nhiều.</p>
				 <h2 style="border-top: 1px solid rgb(234, 184, 26); margin: 0pt; padding: 3px 5px; background: rgb(255, 217, 86) none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial;"><strong>Quà tặng</strong></h2>
				<p style="padding: 5px; line-height: 25px; margin-left: 10px;">Sau khi người dùng nhận được một món quà, món quà này sẽ tự động tăng về chức năng có liên quan. </p>
			</div>
		</div>
	</div>
</div>

<!--{template footer}-->