<!--Game ngôi nhà hạnh phúc được phát triển bởi Kết Nối trẻ group -->
<!--Vui lòng giữ bản quyền Việt hóa của Kết Nối trẻ group -->
<!--Cám ơn bạn đã sử dụng sản phẩm của Kết Nối trẻ group -->
<div style="border:none;" id="profile">
	<div class="ar_r_t" style="margin-left:26px;"><div class="ar_l_t"><div class="ar_r_b"><div class="ar_l_b"><a href="" id="profile_head"><img width="120" src="image/nophoto.jpg" /></a></div></div></div></div>
	<div style="clear:both;"></div>
	<div id="profile_message" class="mesage hidden">
		<p><a target="_blank" title="Trang nhà của bạn" id="profile_link" href="#"><span id="profile_username">徐佳</span> <img src="house/view/img/home.gif" /></a>  |   <a href="#" onclick="return get_random_person();">Đối với một</a></p>
		<p><a id="profile_gamelink" title="Mới bạn đến sống chung" href="#">Mời</a> | <a id="profile_giftlink" title="gửi bạn một món quà" href="#">Quà tặng</a> | <a id="profile_houselink" title="Nhà bạn" href="#">Bất động sản</a></p>
	</div>
	<div id="profile_loading" class="loading"></div>
</div>