<style type="text/css">
@import url(clxj/css/main.css);
</style>
<div class="c_header a_header">
	<div class="avatar48"> <a href="space.php?uid=$space[uid]"><!--{avatar($space[uid],small)}--></a> </div>
	<p style="font-size:14px"><strong>Audition</strong></p>
                                                          Một game nhẹ nhàng, vui nhộn, thích hợp mọi lứa tuổi!
</div>
<div class="tabs_header">
	<ul class="tabs">
		<li{$actives['index']}><a href="clxj.php?ac=index"><span>Audition</span></a></li>

<!--		<li{$actives['share']}><a href="clxj.php?ac=share"><span>Mời bạn bè</span></a></li>-->
        <li{$actives['friendorder']}><a href="clxj.php?ac=friendorder"><span>Bạn bè</span></a></li>
		<li{$actives['order']}><a href="clxj.php?ac=order"><span>Danh sách</span></a></li>
	</ul>
</div>