<style type="text/css">
@import url(xeptraicay/css/main.css);
</style>
<div class="c_header a_header">
	<div class="avatar48"> <a href="space.php?uid=$space[uid]"><!--{avatar($space[uid],small)}--></a> </div>
	<p style="font-size:14px"><strong>Game Xếp trái cây</strong></p>
                                                         Một trò chơi trí tuệ và đòi hỏi kỹ thuật!
</div>
<div class="tabs_header">
	<ul class="tabs">
		<li{$actives['index']}><a href="xeptraicay.php?ac=index"><span>Xếp trái cây</span></a></li>

<!--		<li{$actives['share']}><a href="xeptraicay.php?ac=share"><span>Chia sẻ</span></a></li>-->
        <li{$actives['friendorder']}><a href="xeptraicay.php?ac=friendorder"><span>Bạn bè</span></a></li>
		<li{$actives['order']}><a href="xeptraicay.php?ac=order"><span>Xếp hạng</span></a></li>
	</ul>
</div>