<!--{tpl admin/inc_header}-->

<!--{if $toolstype_list}-->
<table class="list">
	<tr>
		<th>Tên</th>
		<th>Xu</th>
		<th>Vàng</th>
		<th>Giá VIP</th>
		<th>Thời gian</th>
		<th>Mô tả</th>
		<th>Kích hoạt</th>
		<th></th>
	</tr>
	<!--{foreach $toolstype_list as $key=>$toolstype}-->
	<tr>
		<td>{:$toolstype['tName']}</td>
		<td>{:$toolstype['price']}</td>
		<td>{:$toolstype['FBPrice']}</td>
		<td>{:$toolstype['YFBPrice']}</td>
		<td>{:$toolstype['effect']/3600} giờ</td>
		<td>{:$toolstype['depict']}</td>
		<td>{:$toolstype['saleOut'] ? "Đóng" : "Mở"}</td>
		<td>
			<a href="admin.php?mod=toolstype_edit&id={:$key}">Sửa</a>
		</td>
	</tr>
	<!--{/foreach}-->
</table>
<div id="pages" class="multiPage"></div>
<!--{else}-->
<div class="no_hpinfo">Chưa có</div>
<!--{/if}-->


<!--{tpl admin/inc_footer}-->