<style type="text/css">
@import url(blq/css/main.css);
</style>
<div class="c_header a_header">
	<div class="avatar48"> <a href="space.php?uid=$space[uid]"><!--{avatar($space[uid],small)}--></a> </div>
	<p style="font-size:14px"><strong>Bowling</strong></p>
                                                          A lot of fun in a sports game
</div>
<div class="tabs_header">
	<ul class="tabs">
		<li{$actives['index']}><a href="blq.php?ac=index"><span>Bowling</span></a></li>

<!--		<li{$actives['share']}><a href="blq.php?ac=share"><span>Invite Friends</span></a></li>-->
        <li{$actives['friendorder']}><a href="blq.php?ac=friendorder"><span>Friends Ranking</span></a></li>
		<li{$actives['order']}><a href="blq.php?ac=order"><span>List</span></a></li>
	</ul>
</div>