<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="vn" lang="vn">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Ao cá vui vẻ trên mạng xã hội Nhà Tui - GoHooH.CoM</title>
<link type="text/css" rel="stylesheet" href="images/style.css" />

</head>
<body>
<script type="text/javascript" src="script.php?squery&common"></script>

<div id="wrap">

<!--{tpl mod_info}-->
