<div id="info" class="clearfix">
	<div id="info1">
		<a href="#" target="_blank" id='msg_viewer'>Không sử dụng phần mềm của bên thứ ba, để cân bằng trò chơi và không công bằng.</a>
	</div>
	<script type="text/javascript">
		$.DomReady(function() {
			var _msgs = eval('{:qf_jsonCode($_NOTICE[main])}');
			var _timer, _curIndex = 0, _viewer = $('#msg_viewer');
			var playMsg = function() {
				if(_msgs.length > 1) {
					clearInterval(_timer);
					_viewer.innerHTML = _msgs[_curIndex].text;
					_viewer.target = '_blank';
					_timer = setInterval(function() {
						_viewer.innerHTML = _msgs[_curIndex].text;
						_viewer.href = _msgs[_curIndex].href;
						if(++_curIndex == _msgs.length) {
							_curIndex = 0;
						}
						_viewer.target = '_blank';
					}, 5000);
				}
				else {
					_viewer.innerHTML = _msgs[0].text;
					_viewer.href = _msgs[0].href;
					_viewer.target = '_blank';
				}
			};
			if(typeof(_viewer) != 'undefined' && _viewer) {
				playMsg();
			}
		});
	</script>
	<div id="info2">
		<!--{php $credit = qf_userCredit(0);}-->
		<!--{php list($money, $yb) = qf_getMoney(0);}-->
		Tài sản:&nbsp;&nbsp;Điểm:<b id="qfcredit">{:$credit}</b>&nbsp;&nbsp;Vàng:<b id="qfmoney">{:$money}</b>&nbsp;&nbsp; Xu Y:<b id="qfyb">{:$yb}</b>&nbsp;
	</div>
</div>