<!--{tpl header}-->
<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"
			id="kaixinyutang" width="100%" height="653px"
			codebase="http://fpdownload.macromedia.com/get/flashplayer/current/swflash.cab">
			<param name="movie" value="module/kaixinyutang.swf?v=15" />
			<param name="quality" value="high" />
			<param name="bgcolor" value="#ffffff" />
			<param name="flashVars" value="uId={:$_HFG['uid']}&vkey={:$uikey}&h=1&flashRevision=15" /> 
			<embed src="module/kaixinyutang.swf?v=15" quality="high" bgcolor="#ffffff"
				width="100%" height="653px" name="kaixinyutang" align="middle"
				play="true"
				loop="false"
				quality="high"
				allowScriptAccess="sameDomain"
				type="application/x-shockwave-flash"
				pluginspage="http://www.adobe.com/go/getflashplayer">
			</embed>
</object>

<!--{tpl footer}-->
