<!--{template header}-->

<!--{if $op == 'syn' || $op == 'find' || $op == 'search' || $op == 'group' || $op == 'request'}-->
<div class="searchbar floatright">
<form method="get" action="cp.php">
	<input name="searchkey" value="" size="15" class="t_input" type="text">
	<input name="searchsubmit" value="Find People" class="submit" type="submit">
	<input type="hidden" name="searchmode" value="1" />
	<input type="hidden" name="ac" value="friend" />
	<input type="hidden" name="op" value="search" />
</form>
</div>
<h2 class="title"><img src="image/icon/friend.gif">Friends</h2>
<div class="tabs_header">
	<ul class="tabs">
		<li><a href="space.php?uid=$space[uid]&do=friend"><span>My Friends</span></a></li>
		<li$actives[search]><a href="cp.php?ac=friend&op=search"><span>Find Friends</span></a></li>
		<li$actives[find]><a href="cp.php?ac=friend&op=find"><span>Peoples May You Know</span></a></li>
		<!--{if empty($_SCONFIG['closeinvite'])}-->
		<li><a href="cp.php?ac=invite"><span>Invite friends</span></a></li>
		<!--{/if}-->
		<li$actives[request]><a href="cp.php?ac=friend&op=request"><span>Friend Requests</span></a></li>
		<li><a href="space.php?do=top"><span>Popular</span></a></li>
		<!--{if $op=='group'}-->
		<li$actives[group]><a href="cp.php?ac=friend&op=group"><span>Friends Groups</span></a></li>
		<!--{/if}-->
	</ul>
</div>
<!--{/if}-->

<!--{if $op =='ignore'}-->

<h1>Blocked List</h1>
<a href="javascript:hideMenu();" class="float_del" title="Close">Close</a>
<div class="popupmenu_inner" id="__friendform_{$uid}">
<form method="post" id="friendform_{$uid}" name="friendform_{$uid}" action="cp.php?ac=friend&op=ignore&uid=$uid&confirm=1">
	<p>Are you sure you wanna ignore?</p>
	<p class="btn_line">
		<input type="hidden" name="refer" value="$_SGLOBAL[refer]">
		<!--{if $_SGLOBAL[inajax]}-->
		<input type="hidden" name="friendsubmit" value="true" />
		<button name="friendsubmit_btn" type="button" class="submit" value="true" onclick="ajaxpost('friendform_{$uid}', 'friend_delete', 2000)">Continue</button>
		<!--{else}-->
		<button name="friendsubmit" type="submit" class="submit" value="true">Sure</button>
		<!--{/if}-->
	</p>
	<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
</form>
</div>

<!--{elseif $op == 'find'}-->

<!--{if $nearlist}-->
<div class="c_form">
	<h2 class="l_status title">Surprise!, They are within in your neighborhood!</h2>
	<ul class="avatar_list">
		<!--{loop $nearlist $key $value}-->
		<li>
			<div class="avatar48"><a href="space.php?uid=$value[uid]" title="{$_SN[$value[uid]]}" target="_blank"><!--{avatar($value[uid],small)}--></a></div>
			<p><a href="space.php?uid=$value[uid]" title="{$_SN[$value[uid]]}">{$_SN[$value[uid]]}</a></p>
			<p class="gray"><a href="cp.php?ac=friend&op=add&uid=$value[uid]" id="a_near_friend_$key" onclick="ajaxmenu(event, this.id, 1)" class="addfriend">Add Friend</a></p>
		</li>
		<!--{/loop}-->
	</ul>
</div>
<!--{/if}-->

<!--{if $friendlist}-->
<div class="c_form">
	<h2 class="l_status title">They are your friend's friends, Might be you know them!, Add them, Expand friend circle.</h2>
	<ul class="avatar_list">
		<!--{loop $friendlist $key $value}-->
		<li>
			<div class="avatar48"><a href="space.php?uid=$value[uid]" title="{$_SN[$value[uid]]}" target="_blank"><!--{avatar($value[uid],small)}--></a></div>
			<p><a href="space.php?uid=$value[uid]" title="{$_SN[$value[uid]]}">{$_SN[$value[uid]]}</a></p>
			<p class="gray"><a href="cp.php?ac=friend&op=add&uid=$value[uid]" id="a_friend_friend_$key" onclick="ajaxmenu(event, this.id, 1)" class="addfriend">Add Friend</a></p>
		</li>
		<!--{/loop}-->
	</ul>
</div>
<!--{/if}-->

<!--{if $onlinelist}-->
<div class="c_form">
	<h2 class="l_status title">These people are currently online. Once you add them, you will able to interact.</h2>
	<ul class="avatar_list">
		<!--{loop $onlinelist $key $value}-->
		<li>
			<div class="avatar48"><a href="space.php?uid=$value[uid]" title="{$_SN[$value[uid]]}" target="_blank"><!--{avatar($value[uid],small)}--></a></div>
			<p><a href="space.php?uid=$value[uid]" title="{$_SN[$value[uid]]}">{$_SN[$value[uid]]}</a></p>
			<p class="gray"><a href="cp.php?ac=friend&op=add&uid=$value[uid]" id="a_online_friend_$key" onclick="ajaxmenu(event, this.id, 1)" class="addfriend">Add Friend</a></p>
		</li>
		<!--{/loop}-->
	</ul>
</div>
<!--{/if}-->

<!--{elseif $op == 'search'}-->

<div class="c_form">

	<!--{if !empty($_GET['searchsubmit'])}-->
	
	<!--{if empty($list)}-->
		<div class="c_form">Sorry, no results found <a href="cp.php?ac=friend&op=search">Expand Search Criteria or use advance search</a></div>
	<!--{else}-->
		<div style="padding:0 0 20px 0;">We found these users (Showing max 500),You can also <a href="cp.php?ac=friend&op=search">use Advance Search</a>。</div>
		<!--{template space_list}-->
	<!--{/if}-->
	
	<!--{else}-->
	<table cellspacing="2" cellpadding="2" class="search_table">

<!--{if $_GET['all']}-->
	<tr>
		<td>
		<form action="cp.php" method="get">
		<table>
		<tr><td align="right">Name: </td><td><input type="text" name="name" value="" class="t_input"></td></tr>
		<tr><td align="right">Username: </td><td><input type="text" name="username" value="" class="t_input"></td></tr>
		<tr><td align="right">User UID：</td><td><input type="text" name="uid" value="" class="t_input"></td></tr>
		<tr>
			<td align="right" width="100">Sex: </td>
			<td>
				<select id="sex" name="sex">
					<option value="0">Random</option>
					<option value="1">Male</option>
					<option value="2">Female</option>
				</select>
			</td>
		</tr>
		<tr>
			<td align="right">Marriage Staus：</td>
			<td>
				<select id="marry" name="marry">
					<option value="0">Any</option>
					<option value="1">Single</option>
					<option value="2">Married</option>
				</select>
			</td>
		</tr>
		<tr>
			<td align="right">Age: </td>
			<td>
				<input type="text" name="startage" value="" size="10" class="t_input" /> ~ <input type="text" name="endage" value="" size="10" class="t_input" />
			</td>
		</tr>
		<!--{if $_SCONFIG['videophoto']}-->
		<tr>
			<td align="right">WebCam Verification: </td>
			<td>
				<input type="checkbox" name="videostatus" value="1">Verification through the video
			</td>
		</tr>
		<!--{/if}-->
		<tr>
			<td align="right">Profile Photo</td>
			<td>
				<input type="checkbox" name="avatar" value="1">Profile has photo
			</td>
		</tr>
		
		<tr>
			<td align="right">Current City:</td>
			<td id="residecitybox"></td>
		</tr>
		
		<tr>
			<td align="right">Native Place: </td>
			<td id="birthcitybox"></td>
		</tr>
		
		<script type="text/javascript" src="source/script_city.js"></script>
		<script type="text/javascript">
		<!--
		showprovince('resideprovince', 'residecity', '', 'residecitybox');
		showcity('residecity', '', 'resideprovince', 'residecitybox');
		showprovince('birthprovince', 'birthcity', '', 'birthcitybox');
		showcity('birthcity', '', 'birthprovince', 'birthcitybox');
		//-->
		</script>	
		
		<tr>
			<td align="right">DOB: </td>
			<td>
			<select id="birthyear" name="birthyear" onchange="showbirthday();">
				<option value="0">&nbsp;</option>
				$birthyeayhtml
			</select> Year 
			<select id="birthmonth" name="birthmonth" onchange="showbirthday();">
				<option value="0">&nbsp;</option>
				$birthmonthhtml
			</select> month 
			<select id="birthday" name="birthday">
				<option value="0">&nbsp;</option>
				$birthdayhtml
			</select> Day
			</td>
		</tr>
		
		<tr><td align="right">School/University: </td><td><input type="text" name="title" value="" class="t_input"> <select name="startyear">
			<option value="">Academic Year: </option>
			$yearhtml
			</select></td></tr>
		<tr><td align="right">Major/Grade: </td><td><input type="text" name="subtitle" value="" class="t_input"></td></tr>
	
		<tr><td align="right">Company: </td><td><input type="text" name="title" value="" class="t_input"></td></tr>
		<tr><td align="right">Dept: </td><td><input type="text" name="subtitle" value="" class="t_input"></td></tr>
			
		
		<tr>
			<td align="right">Blood Type: </td>
			<td>
				<select id="blood" name="blood">
					<option value="">Any</option>
					$bloodhtml
				</select>
			</td>
		</tr>
	
		
		<tr>
			<td align="right">QQ：</td>
			<td>
				<input type="text" name="qq" value="" class="t_input" />
			</td>
		</tr>
		<tr>
			<td align="right">MSN/YM：</td>
			<td>
				<input type="text" name="msn" value="" class="t_input" />
			</td>
		</tr>
	
		<!--{loop $fields $fkey $fvalue}-->
		<!--{if $fvalue[allowsearch]}-->
		<tr>
			<td align="right">{$fvalue[title]}：</td>
			<td>
				$fvalue[html]
			</td>
		</tr>
		<!--{/if}-->
		<!--{/loop}-->
		
		<tr><td></td><td><input type="submit" name="searchsubmit" value="Search" class="submit"></td></tr>
		</table>
		<input type="hidden" name="ac" value="friend">
		<input type="hidden" name="op" value="search">
		<input type="hidden" name="type" value="all">
		</form>	
	</td></tr>
<!--{else}-->
	<tr>
		<th style="border-top: none;"><img src="image/search.gif" align="absmiddle">
			<a href="javascript:;" onclick="showtbody('sex');">Search by Sex</a></th>
	</tr>
	<tbody id="s_sex" style="display:none;">
	<tr>
		<td>
		<form action="cp.php" method="get">
		<table>
		<tr>
			<td align="right" width="100">Sex: </td>
			<td>
				<select id="sex" name="sex">
					<option value="0">Any</option>
					<option value="1"$sexarr[1]>Male</option>
					<option value="2"$sexarr[2]>Female</option>
				</select>
			</td>
		</tr>
		<tr>
			<td align="right">Marital Status:</td>
			<td>
				<select id="marry" name="marry">
					<option value="0">Any</option>
					<option value="1"$marryarr[1]>Single</option>
					<option value="2"$marryarr[2]>Married</option>
				</select>
			</td>
		</tr>
		<tr>
			<td align="right">Age: </td>
			<td>
				<input type="text" name="startage" value="" size="10" class="t_input" /> ~ <input type="text" name="endage" value="" size="10" class="t_input" />
			</td>
		</tr>
		<!--{if $_SCONFIG['videophoto']}-->
		<tr>
			<td align="right" width="100">WebCam Verified</td>
			<td>
				<input type="checkbox" name="videostatus" value="1">Verification through the WebCam Video feed
			</td>
		</tr>
		<!--{/if}-->
		<tr>
			<td align="right" width="100">Profile Photo:</td>
			<td>
				<input type="checkbox" name="avatar" value="1">Who have profile photo
			</td>
		</tr>
		<tr><td align="right">Name: </td><td><input type="text" name="name" value="" class="t_input"></td></tr>
		<tr><td align="right">Username: </td><td><input type="text" name="username" value="" class="t_input"></td></tr>
		<tr><td></td><td><input type="submit" name="searchsubmit" value="Search" class="submit"></td></tr>
		</table>
		<input type="hidden" name="ac" value="friend">
		<input type="hidden" name="op" value="search">
		<input type="hidden" name="type" value="base">
		</form>
		</td>
	</tr>
	</tbody>

	
	<tr>
		<th><img src="image/search.gif" align="absmiddle">
			<a href="javascript:;" onclick="showtbody('reside');">Find the people by City</a></th>
	</tr>
	<tbody id="s_reside" style="display:none;">
	<tr>
		<td>
		<form action="cp.php" method="get">
		<table>
		<tr>
			<td align="right" width="150">Current City：</td>
			<td id="residecitybox"></td>
		</tr>
		<tr><td align="right">Name: </td><td><input type="text" name="name" value="" class="t_input"></td></tr>
		<tr><td align="right">Username: </td><td><input type="text" name="username" value="" class="t_input"></td></tr>
		<tr><td></td><td><input type="submit" name="searchsubmit" value="Search" class="submit"></td></tr>
		</table>
		<script type="text/javascript" src="source/script_city.js"></script>
		<script type="text/javascript">
		<!--
		showprovince('resideprovince', 'residecity', '$space[resideprovince]', 'residecitybox');
		showcity('residecity', '$space[residecity]', 'resideprovince', 'residecitybox');
		//-->
		</script>
		<input type="hidden" name="ac" value="friend">
		<input type="hidden" name="op" value="search">
		<input type="hidden" name="type" value="base">
		</form>
		</td>
	</tr>
	</tbody>
	

	<tr>
		<th><img src="image/search.gif" align="absmiddle">
			<a href="javascript:;" onclick="showtbody('birth');">Find fellow</a></th>
	</tr>
	<tbody id="s_birth" style="display:none;">
	<tr>
		<td>
		<form action="cp.php" method="get">
		<table>
		<tr>
			<td align="right" width="150">Birthplace:</td>
			<td id="birthcitybox"></td>
		</tr>
		<tr><td align="right">Name: </td><td><input type="text" name="name" value="" class="t_input"></td></tr>
		<tr><td align="right">Username: </td><td><input type="text" name="username" value="" class="t_input"></td></tr>
		<tr><td></td><td><input type="submit" name="searchsubmit" value="Search" class="submit"></td></tr>
		</table>
		<script type="text/javascript" src="source/script_city.js"></script>
		<script type="text/javascript">
		<!--
		showprovince('birthprovince', 'birthcity', '$space[birthprovince]', 'birthcitybox');
		showcity('birthcity', '$space[birthcity]', 'birthprovince', 'birthcitybox');
		//-->
		</script>
		<input type="hidden" name="ac" value="friend">
		<input type="hidden" name="op" value="search">
		<input type="hidden" name="type" value="base">
		</form>
		</td>
	</tr>
	</tbody>

	
	<tr>
		<th><img src="image/search.gif" align="absmiddle">
			<a href="javascript:;" onclick="showtbody('birthyear');">Find Jodiac/Star Sign or same DOB</a></th>
	</tr>
	<tbody id="s_birthyear" style="display:none;">
	<tr>
		<td>
		<form action="cp.php" method="get">
		<table>
		<tr>
			<td align="right" width="150">DOB: </td>
			<td>
			<select id="birthyear" name="birthyear" onchange="showbirthday();">
				<option value="0">&nbsp;</option>
				$birthyeayhtml
			</select> Year 
			<select id="birthmonth" name="birthmonth" onchange="showbirthday();">
				<option value="0">&nbsp;</option>
				$birthmonthhtml
			</select> Month
			<select id="birthday" name="birthday">
				<option value="0">&nbsp;</option>
				$birthdayhtml
			</select> Day
			</td>
		</tr>
		<tr><td align="right">Name: </td><td><input type="text" name="name" value="" class="t_input"></td></tr>
		<tr><td align="right">Username: </td><td><input type="text" name="username" value="" class="t_input"></td></tr>
		<tr><td></td><td><input type="submit" name="searchsubmit" value="Search" class="submit"></td></tr>
		</table>
		<input type="hidden" name="ac" value="friend">
		<input type="hidden" name="op" value="search">
		<input type="hidden" name="type" value="base">
		</form>
		</td>
	</tr>
	</tbody>
	
	<tr>
		<th>
			<img src="image/search.gif" align="absmiddle">
			<a href="javascript:;" onclick="showtbody('edu');">Find your Classmates</a>
		</th>
	</tr>
	<tbody id="s_edu" style="display:none;">
	<tr>
		<td>
		<form action="cp.php" method="get">
		<table>
			<tr><td align="right" width="150">School/University: </td><td><input type="text" name="title" value="" class="t_input"> <select name="startyear">
				<option value="">Academic Year</option>
				$yearhtml
				</select></td></tr>
			<tr><td align="right">Grade/Major: </td><td><input type="text" name="subtitle" value="" class="t_input"></td></tr>
			<tr><td align="right">Name: </td><td><input type="text" name="name" value="" class="t_input"></td></tr>
			<tr><td align="right">Username: </td><td><input type="text" name="username" value="" class="t_input"></td></tr>
			<tr><td></td><td><input type="submit" name="searchsubmit" value="Search" class="submit"></td></tr>
		</table>
		<input type="hidden" name="ac" value="friend">
		<input type="hidden" name="op" value="search">
		<input type="hidden" name="type" value="edu">
		</form>
		</td>
	</tr>
	</tbody>
	
	<tr>
		<th><img src="image/search.gif" align="absmiddle">
			<a href="javascript:;" onclick="showtbody('work');">Find your colleagues</a></th>
	</tr>
	<tbody id="s_work" style="display:none;">
	<tr>
		<td>
		<form action="cp.php" method="get">
		<table>
			<tr><td align="right" width="150">Orgnization: </td><td><input type="text" name="title" value="" class="t_input"></td></tr>
			<tr><td align="right">Dept: </td><td><input type="text" name="subtitle" value="" class="t_input"></td></tr>
			<tr><td align="right">Name: </td><td><input type="text" name="name" value="" class="t_input"></td></tr>
			<tr><td align="right">Username: </td><td><input type="text" name="username" value="" class="t_input"></td></tr>
			<tr><td></td><td><input type="submit" name="searchsubmit" value="Search" class="submit"></td></tr>
		</table>
		<input type="hidden" name="ac" value="friend">
		<input type="hidden" name="op" value="search">
		<input type="hidden" name="type" value="work">
		</form>
		</td>
	</tr>
	</tbody>
	
	
	<tr>
		<th><img src="image/search.gif" align="absmiddle">
			<a href="javascript:;" onclick="showtbody('name');">Exact Match</a></th>
	</tr>
	<tbody id="s_name" style="display:none;">
	<tr>
		<td>
		<form action="cp.php" method="get">
		<table>
		<tr><td align="right" width="150">Name: </td><td><input type="text" name="name" value="" class="t_input"></td></tr>
		<tr><td align="right">Username: </td><td><input type="text" name="username" value="" class="t_input"></td></tr>
		<tr><td align="right">Member No./ UID：</td><td><input type="text" name="uid" value="" class="t_input"></td></tr>
		<tr><td></td><td><input type="submit" name="searchsubmit" value="Search" class="submit"></td></tr>
		</table>
		<input type="hidden" name="ac" value="friend">
		<input type="hidden" name="op" value="search">
		<input type="hidden" name="type" value="base">
		</form>
		</td>
	</tr>
	</tbody>
	
	<tr>
		<th><img src="image/search.gif" align="absmiddle">
			<a href="cp.php?ac=friend&op=search&all=yes">Search All/Advance Setting</a></th>
	</tr>
<!--{/if}-->

	</table>
	<!--{/if}-->
</div>

<script>
function showtbody(id) {
	var obj = $('s_'+id);
	if(obj.style.display == 'none') {
		obj.style.display = '';
	} else {
		obj.style.display = 'none';
	}
}
<!--{if $_GET['view']}-->showtbody('$_GET[view]');<!--{/if}-->
</script>

<!--{elseif $op=='changenum'}-->

<h1>Friends Ranking/Hot Friend</h1>
<a href="javascript:hideMenu();" class="float_del" title="Close">Close</a>
<div class="popupmenu_inner" id="__changenumform_{$uid}">
<form method="post" id="changenumform_{$uid}" name="changenumform_{$uid}" action="cp.php?ac=friend&op=changenum&uid=$uid">
	<p>Alter Friends Hot points</p>
	<p>
		Hot Value: <input type="text" name="num" value="$friend[num]" size="5"> (0~9999之间的一个数字）
	</p>
	<p class="btn_line">
		<input type="hidden" name="refer" value="$_SGLOBAL[refer]">
		<button name="changenumsubmit" type="submit" class="submit" value="true">Confirm</button>
	</p>
	
	<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
</form>
</div>

<!--{elseif $op=='changegroup'}-->

<h1>Friend Category</h1>
<a href="javascript:hideMenu();" class="float_del" title="Close">Close</a>
<div class="popupmenu_inner" id="__changegroupform_{$uid}">
<form method="post" id="changegroupform_{$uid}" name="changegroupform_{$uid}" action="cp.php?ac=friend&op=changegroup&uid=$uid">
	<p>Create/Alter Friend Groups</p>
	<table cellspacing="2" cellpadding="2"><tr>
	<!--{eval $i=0;}-->
	<!--{loop $groups $key $value}-->
	<td><input type="radio" name="group" value="$key"$groupselect[$key]> $value</td>
	<!--{if $i%2==1}--></tr><tr><!--{/if}-->
	<!--{eval $i++;}-->
	<!--{/loop}-->
	</tr></table>

	<p class="btn_line">
		<input type="hidden" name="refer" value="$_SGLOBAL[refer]">
		<!--{if $_SGLOBAL[inajax]}-->
		<input type="hidden" name="changegroupsubmit" value="true" />
		<button name="changegroupsubmit_btn" type="button" class="submit" value="true" onclick="ajaxpost('changegroupform_{$uid}', 'friend_changegroup', 2000)">Continue</button>
		<!--{else}-->
		<button name="changegroupsubmit" type="submit" class="submit" value="true">Ok</button>
		<!--{/if}-->
	</p>
	
	<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
</form>
</div>

<!--{elseif $op=='group'}-->

<div class="h_status">
Category of selected friends, heat, number of times you interact with your friends.
</div>

<div id="content" style="width: 640px;">
	<form method="post" action="cp.php?ac=friend&op=group&ref">
<!--{if $list}-->
	<div class="thumb_list" id="friend_ul">
		<ul>
		<!--{loop $list $key $value}-->
			<li>
				<div class="avatar48"><a href="space.php?uid=$value[uid]"><!--{avatar($value[uid],small)}--></a></div>
				<div class="thumbTitle"><input type="checkbox" name="fuids[]" value="$value[uid]" /><a href="space.php?uid=$value[uid]">{$_SN[$value[uid]]}</a></div>
				<div class="gray">Heat: $value[num]</div>
				<div class="gray">$value[group]</div>
			</li>
		<!--{/loop}-->
		</ul>
	</div>
	<div class="page">$multi</div>
	<div style="padding:20px 0 0 0;">
		<input type="checkbox" id="chkall" name="chkall" onclick="checkAll(this.form, 'fuids')" /><label for="chkall">Select</label></td>
		Category: <select name="group">
			<!--{loop $groups $key $value}-->
				<option value="$key">$value</option>
			<!--{/loop}-->
			</select>
			<input type="submit" name="btnsubmit" value="Ok" class="submit" />
	</div>
<!--{else}-->
	<div class="c_form">
		No relevant list of users.
	</div>
<!--{/if}-->
	<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
	<input type="hidden" name="groupsubmin" value="true" />
	</form>
</div>

<div id="sidebar" style="width: 150px;">
	<div class="cat">
	<h3>Friends Group</h3>
	<ul class="post_list line_list">
		<li<!--{if !isset($_GET[group])}--> class="current"<!--{/if}-->><a href="cp.php?ac=friend&op=group">All Friends</a></li>
		<!--{loop $groups $key $value}-->
		<li<!--{if isset($_GET[group]) && $_GET[group]==$key}--> class="current"<!--{/if}-->><a href="cp.php?ac=friend&op=group&group=$key">$value</a></li>
		<!--{/loop}-->
	</ul>
	</div>
</div>

<!--{elseif $op=='groupname'}-->

<h1>Friends Group</h1>
<a href="javascript:hideMenu();" class="float_del" title="Close">Close</a>
<div class="popupmenu_inner" id="__groupnameform_{$group}">
<form method="post" id="groupnameform_{$group}" name="groupnameform_{$group}" action="cp.php?ac=friend&op=groupname&group=$group">
	<p>Create a new Category/Group</p>
	<div class="c_form">
		New Category: <input type="text" name="groupname" value="$groups[$group]" size="15" class="t_input">
		<input type="hidden" name="refer" value="$_SGLOBAL[refer]">
		<!--{if $_SGLOBAL[inajax]}-->
		<input type="hidden" name="groupnamesubmit" value="true" />
		<input type="button" name="groupnamesubmit_btn" value="Continue" class="submit" onclick="ajaxpost('groupnameform_{$group}', 'friend_changegroupname', 2000)" />
		<!--{else}-->
		<input type="submit" name="groupnamesubmit" value="Ok" class="submit" />
		<!--{/if}-->
	</div>
	
	<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
</form>
</div>


<!--{elseif $op=='groupignore'}-->

<h1>RSS Feed Settings</h1>
<a href="javascript:hideMenu();" class="float_del" title="Close">Close</a>
<div class="popupmenu_inner" id="$group">
<form method="post" id="groupignoreform" name="groupignoreform" action="cp.php?ac=friend&op=groupignore&group=$group">
	<!--{if !isset($space['privacy']['filter_gid'][$group])}-->
	<p>Do not display RSS Feed on my home page</p>
	<!--{else}-->
	<p>This Category all RSS Feed display on my home page</p>
	<!--{/if}-->
	<p class="btn_line">
		<input type="hidden" name="refer" value="$_SGLOBAL[refer]">
		<!--{if $_SGLOBAL[inajax]}-->
		<input type="hidden" name="groupignoresubmit" value="true" />
		<button name="groupignoresubmit_btn" type="submit" class="submit" value="true">Ok</button>
		<!--{else}-->
		<button name="groupignoresubmit" type="submit" class="submit" value="true">Ok</button>
		<!--{/if}-->
	</p>
<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
</form>
</div>

<!--{elseif $op=='request'}-->

<div class="l_status">
	<div class="r_option">
		<a href="cp.php?ac=friend&op=ignore&confirm=1&key=$space[key]" onclick="return confirm('Are you sure do you want to ignore all friend requests?');">Ignore all friend requests</a>
		 | <a href="cp.php?ac=friend&op=addconfirm&key=$space[key]">Accept all requests</a>
	</div>
	<span id="add_friend_div">Reply friends requests</span>
	<!--{if $maxfriendnum}-->
	(You can add max $maxfriendnum friend)
	<p>
		<!--{if $_SGLOBAL[magic][friendnum]}-->
		<img src="image/magic/friendnum.small.gif" class="magicicon" />
		<a id="a_magic_friendnum" href="magic.php?mid=friendnum" onclick="ajaxmenu(event, this.id, 1)">I want to expand my Circle</a>
		(You can buy props “{$_SGLOBAL[magic][friendnum]}” to increase, your space/access)
		<!--{/if}-->
	</p>
	<!--{/if}-->
</div>
<!--{if $list}-->
<div class="thumb_list" id="friend_ul">
<table cellspacing="6" cellpadding="0">
<!--{loop $list $key $value}-->
<tbody id="friend_tbody_$value[uid]">
<tr>
	<td class="thumb <!--{if $ols[$value[uid]]}-->online<!--{/if}-->">
		<table cellpadding="0" cellspacing="0">
			<tr>
				<td class="image">
				<div class="ar_r_t"><div class="ar_l_t"><div class="ar_r_b"><div class="ar_l_b">
				<a href="space.php?uid=$value[uid]" class="avatarlink"><!--{avatar($value[uid],middle)}--></a>
				</div></div></div></div>
				</td>
				<td>
					<h6 class="l_status">
						<a href="space.php?uid=$value[uid]">{$_SN[$value[uid]]}</a>
						<!--{if $value['videostatus']}-->
						<img src="image/videophoto.gif" align="absmiddle"> <span class="gray">WebCam Certified User</span>
						<!--{/if}-->
					</h6>
					<div id="friend_$value[uid]">
					<!--{if $value[note]}--><div class="quote"><span id="quote" class="q">$value[note]</span></div><!--{/if}-->
					<p><!--{date('m-d H:i',$value[dateline],1)}--></p>
					<!--{if $value['cfcount']}--><p><a href="cp.php?ac=friend&op=getcfriend&fuid=$value[cfriend]" id="a_cfriend_$key" onclick="ajaxmenu(event, this.id, 1)">You have $value[cfcount] common friend</a></p><!--{/if}-->
					<p style="margin-top:1em;">
						<a href="cp.php?ac=friend&op=add&uid=$value[uid]" id="afr_$value[uid]" onclick="ajaxmenu(event, this.id, 1)" class="submit a">Accept</a>
						<a href="cp.php?ac=friend&op=ignore&uid=$value[uid]&confirm=1" id="afi_$value[uid]" onclick="ajaxmenu(event, this.id, 1)" class="button a">Ignore</a>
					</p>
					</div>
				</td>
			</tr>
			<tbody id="cf_$value[uid]"></tbody>
		</table>
	</td>
</tr>
</tbody>
<!--{/loop}-->
</table>
</div>
<div class="page">$multi</div>
<!--{else}-->
<div class="c_form">
	No new friend requests.
</div>
<!--{/if}-->

<!--{elseif $op=='getcfriend'}-->


<h1>Common Friends</h1>
<a href="javascript:hideMenu();" class="float_del" title="Close">Close</a>
<div class="popupmenu_inner" id="cfriend">
	<div class="h_status">Showing max 15 common friends</div>
	<ul class="avatar_list">
		<!--{loop $list $key $value}-->
		<li>
			<div class="avatar48"><a href="space.php?uid=$value[uid]"><!--{avatar($value[uid],small)}--></a></div>
			<p><a href="space.php?uid=$value[uid]" title="{$_SN[$value[uid]]}">{$_SN[$value[uid]]}</a></p>
		</li>
		<!--{/loop}-->
	</ul>
</div>

<!--{elseif $op=='add'}-->

<h1>Accept Friend</h1>
<a href="javascript:hideMenu();" title="Close" class="float_del">Close</a>
<div class="popupmenu_inner" id="__addform_{$tospace[uid]}">
<form method="post" id="addform_{$tospace[uid]}" name="addform_{$tospace[uid]}" action="cp.php?ac=friend&op=add&uid=$tospace[uid]">
	<table cellspacing="0" cellpadding="3">
		<tr>
			<th width="52"><a href="space.php?uid=$tospace[uid]"><!--{avatar($tospace[uid],small)}--></th>
			<td> <strong>{$_SN[$tospace[uid]]}</strong> Message: <br />
				<input type="text" name="note" value="" size="20" class="t_input" style="width: 300px;"  onkeydown="ctrlEnter(event, 'addsubmit_btn', 1);" />
				<p class="gray">(Optional: {$_SN[$tospace[uid]]} will see this message (max 50char))</p>
			</td>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<td>
				Groups: <select name="gid">
				<!--{loop $groups $key $value}-->
				<option value="$key">$value</option>
				<!--{/loop}-->
				</select>
				<input type="hidden" name="refer" value="$_SGLOBAL[refer]" />
				<input type="hidden" name="addsubmit" value="true" />
				<!--{if $_SGLOBAL[inajax]}-->
				<input type="button" name="addsubmit_btn" id="addsubmit_btn" value="Continue" class="submit" onclick="ajaxpost('addform_{$tospace[uid]}','',2000)" />
				<!--{else}-->
				<input type="submit" name="addsubmit_btn" id="addsubmit_btn" value="Ok" class="submit" />
				<!--{/if}-->
			</td>
	</table>
	
	<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
</form>
</div>


<!--{elseif $op=='add2'}-->

<h1>Accept Request</h1>
<a href="javascript:hideMenu();" title="Close" class="float_del">Close</a>
<div class="popupmenu_inner" id="__addratifyform_{$tospace[uid]}">
<form method="post" id="addratifyform_{$tospace[uid]}" name="addratifyform_{$tospace[uid]}" action="cp.php?ac=friend&op=add&uid=$tospace[uid]">
	<table cellspacing="0" cellpadding="3">
		<tr>
			<th width="52"><a href="space.php?uid=$tospace[uid]"><!--{avatar($tospace[uid],small)}--></th>
			<td>
			<div class="l_status">Accept <strong>{$_SN[$tospace[uid]]}</strong> request，select group：</div>
				<table cellspacing="2" cellpadding="2"><tr>
				<!--{eval $i=0;}-->
				<!--{loop $groups $key $value}-->
				<td><input type="radio" name="gid" id="group_$key" value="$key"$groupselect[$key]> <label for="group_$key">$value</label></td>
				<!--{if $i%2==1}--></tr><tr><!--{/if}-->
				<!--{eval $i++;}-->
				<!--{/loop}-->
				</tr></table>
				
				<p>
				<input type="hidden" name="refer" value="$_SGLOBAL[refer]" />
				<!--{if $_SGLOBAL[inajax]}-->
				<input type="hidden" name="add2submit" value="true" />
				<input type="button" name="add2submit_btn" value="Ok" class="submit" onclick="ajaxpost('addratifyform_{$tospace[uid]}', 'myfriend_post', 2000)" />
				<!--{else}-->
				<input type="submit" name="add2submit" value="Ok" class="submit" />
				<!--{/if}-->
				</p>
			</td>
	</table>
	<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
</form>
</div>

<!--{/if}-->
<!--{template footer}-->
