<!--{template header}-->

<h2 class="title"><img src="image/app/blog.gif" />Blog</h2>
<div class="tabs_header">
	<ul class="tabs">
		<li><a href="cp.php?ac=blog"><span>Publish New Blog/span></a></li>
		<li class="active"><a href="cp.php?ac=import"><span>Import Blog Data</span></a></li>
		<li><a href="space.php?uid=$space[uid]&do=blog&view=me"><span>Back to My Blog</span></a></li>
	</ul>
</div>

<!--{if $results}-->

<form method="post" action="cp.php?ac=import" class="c_form">
<table cellspacing="0" cellpadding="0" class="formtable">
<caption>
	<h2><!--{if $incount}-->Import Results<!--{else}-->Select blog to import<!--{/if}--></h2>
	<!--{if $paycredit}-->
	<p>Credits needed for this feature: $paycredit (Currently you have <a href="cp.php?ac=credit">$space[credit]</a>)</p>
	<!--{/if}-->
</caption>

<!--{loop $results $key $value}-->
<tr>
	<td><!--{if !$incount}--><input type="checkbox" name="ids[]" value="$key"><!--{/if}--> <!--{if $value[blogid]}--><a href="space.php?uid=$space[uid]&do=blog&id=$value[blogid]" target="_blank">$value[title]</a><!--{else}-->$value[title]<!--{/if}--></td>
	<td>$value[dateCreated]</td>
	<!--{if $incount}--><td>$value[status]</td><!--{/if}-->
</tr>
<!--{/loop}-->

<!--{if !$incount}-->
<tr>
	<td colspan="3">
	<input type="checkbox" id="chkall" name="chkall" onclick="checkAll(this.form, 'ids')">Select All
	<input type="submit" name="import2submit" value="Import" class="submit" />
	<input type="submit" name="resubmit" value="Reset" class="submit" />
	</td>
</tr>
<!--{/if}-->

</table>

<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
</form>

<!--{else}-->

<form method="post" action="cp.php?ac=import" class="c_form">
<table cellspacing="0" cellpadding="0" class="formtable">
	<caption>
		<h2>Import Blog</h2>
		<p>This site supports  XML-RPC formatted MetaWeblog API<br />
		Address: {$siteurl}xmlrpc.php<br />
		Via this interface£¬you can import blogs from other sites here with some easy steps<br />
		The blog you are imported from other Site, That site must have XMLRPC formatted API interface.<br/>
		For more information contact the site administration of your target site from where you're importing the blog.
		</p>
	</caption>
	<!--{if $paycredit}-->
	<tr><th width="120">Credits needed</th><td>for this feature: $paycredit (Currently you have <a href="cp.php?ac=credit">$space[credit]</a>)</td></tr>
	<!--{/if}-->
	<tr><th width="120">Target blog site API address</th><td><input type="text" class="t_input" name="url" value="http://" size="40" />
		<br />URL's such as http://www.sitename.com/xmlrpc.php are usually used
		</td></tr>
	<tr><th>Target blog username</th><td><input type="text" class="t_input" name="username" value="" /></td></tr>
	<tr><th>Target blog password</th><td><input type="password" class="t_input" name="password" value="" /></td></tr>
	<tr><th>Get single blog entry</th><td><!--{eval echo $_SCONFIG['importnum'];}--></td></tr>
	<tr><th>&nbsp;</th><td><input type="submit" name="importsubmit" value="Publish" class="submit" /></td></tr>
</table>

<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
</form>
	

<!--{/if}-->

<!--{template footer}-->