<!--{template header}-->

<!--{eval 
$icons = array(
	0 => 'Gửi tin nhắn',
	1 => '<img src="image/poke/cyx.gif" /> Chọc giận',
	2 => '<img src="image/poke/wgs.gif" /> Bắt tay',
	3 => '<img src="image/poke/wx.gif" /> Cười nhạo',
	4 => '<img src="image/poke/jy.gif" /> Lại đây',
	5 => '<img src="image/poke/pmy.gif" /> Nháy mắt',
	6 => '<img src="image/poke/yb.gif" /> Ôm',
	7 => '<img src="image/poke/fw.gif" /> Hôn',
	8 => '<img src="image/poke/nyy.gif" /> Cấu',
	9 => '<img src="image/poke/gyq.gif" /> Gõ cửa',
	10 => '<img src="image/poke/dyx.gif" /> Sét đánh',
	11 => '<img src="image/poke/yw.gif" /> Tấn công',
	12 => '<img src="image/poke/ppjb.gif" /> Sờ mó',
	13 => '<img src="image/poke/yyk.gif" /> Cắn'
);
}-->

<!--{if $op == 'send' || $op == 'reply'}-->

<!--{if $_SGLOBAL[inajax]}-->

	<h1>Chọc vui, Tin nhắn nhanh</h1>
	<a href="javascript:hideMenu();" title="Đóng cửa sổ" class="float_del">Đóng</a>

<!--{else}-->

	<h2 class="title"><img src="image/icon/poke.gif">Poke</h2>
	<div class="tabs_header">
		<ul class="tabs">
			<li><a href="cp.php?ac=poke"><span>Đã nhận Poke</span></a></li>
			<li class="null"><a href="cp.php?ac=poke&op=send">My Poke</a></li>
		</ul>
	</div>
<!--{/if}-->

<div class="popupmenu_inner" id="__pokeform_{$tospace[uid]}">
<form method="post" id="pokeform_{$tospace[uid]}" name="pokeform_{$tospace[uid]}" action="cp.php?ac=poke&op=$op&uid=$tospace[uid]">
	<table cellspacing="0" cellpadding="3">
		<tr>
		<!--{if $tospace[uid]}-->
			<th width="52"><div class="avatar48"><a href="space.php?uid=$tospace[uid]"><!--{avatar($tospace[uid],small)}--></div></th>
		<!--{else}-->
			<th></th><td class="l_status">Username: <input type="text" name="username" value=""></td></tr>
			<tr><th></th>
		<!--{/if}-->
			<td>
				<!--{if $tospace[uid]}-->
					Poked <strong>{$_SN[$tospace[uid]]}</strong>: <br />
				<!--{/if}-->
				<ul class="list2col" style="width:300px;">
					<!--{loop $icons $k $v}-->
					<li><input type="radio" name="iconid" id="poke_$k" value="{$k}" /><label for="poke_$k">{$v}</label></li>
					<!--{/loop}-->
				</ul>
				<input type="text" name="note" id="note" value="" size="16" class="t_input" onkeydown="ctrlEnter(event, 'pokesubmit_btn', 1);" style="width: 300px;" maxlength="25" />
				<div class="gray">(Giới hạn tin nhắn 25 ký tự)</div>
			</td>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<td>
				<input type="hidden" name="refer" value="$_SGLOBAL[refer]">
				<input type="hidden" name="pokesubmit" value="true" />
				<!--{if $_SGLOBAL[inajax]}-->
				<input type="button" name="pokesubmit_btn" id="pokesubmit_btn" value="Send" class="submit" onclick="ajaxpost('pokeform_{$tospace[uid]}', 'poke_send', 2000)" />
				<!--{else}-->
				<input type="submit" name="pokesubmit_btn" id="pokesubmit_btn" value="Send" class="submit" />
				<!--{/if}-->
			</td>
	</table>
	<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
</form>
</div>

<!--{else}-->

<h2 class="title"><img src="image/icon/poke.gif">Poke</h2>
<div class="tabs_header">
	<ul class="tabs">
		<li class="active"><a href="cp.php?ac=poke"><span>Received Poke</span></a></li>
		<li class="null"><a href="cp.php?ac=poke&op=send">My Poke</a></li>
	</ul>
</div>

<div class="h_status">Bạn có thể khóa trả lời Poke!<span class="pipe">|</span><a href="cp.php?ac=poke&op=ignore" id="a_poke" onclick="ajaxmenu(event, this.id, 0, 2000, 'mypoke_all')">Cấm tất cả</a></div>

<!--{if $list}-->
<style>
.list_td td { border-bottom: 1px solid #EBE6C9; padding: 0.5em; }
.list_td img { vertical-align: middle; }
</style>
<div class="c_form" id="poke_ul">
	<table cellpadding="0" cellspacing="0" width="100%" class="list_td">
		<!--{loop $list $key $value}-->
		<tbody id="poke_$value[uid]">
		<tr>
			<td width="70">
				<div class="avatar48">
				<a href="space.php?uid=$value[uid]"><!--{avatar($value[uid],small)}--></a>
				</div>
			</td>
			<td>
				<p><a href="space.php?uid=$value[uid]">{$_SN[$value[uid]]}</a> <span class="gray"><!--{date('d-m H:i',$value[dateline],1)}--></span></p>
				
				<div style="padding:10px 0 10px 0;font-size:14px;">
				<!--{if $value[iconid]}-->{$icons[$value[iconid]]}<!--{else}-->Hồi âm tin nhắn<!--{/if}-->
				<!--{if $value[note]}-->Lời nhắn: $value[note]<!--{/if}-->
				</div>
				<div style="padding:10px 0 10px 0;">
				<a href="cp.php?ac=poke&op=reply&uid=$value[uid]" id="a_p_r_$value[uid]" onclick="ajaxmenu(event, this.id, 1)" class="submit">Chọc giân lại</a> 
				<!--{if !$value['isfriend']}--><a href="cp.php?ac=friend&op=add&uid=$value[uid]" id="a_friend_$key" onclick="ajaxmenu(event, this.id, 1)" class="submit">Kết bạn</a> <!--{/if}-->
				</div>

			</td>
			<td align="right" width="80">
			<a href="cp.php?ac=poke&op=ignore&uid=$value[uid]" id="a_p_i_$value[uid]" onclick="ajaxmenu(event, this.id, 0, 2000, 'mypoke')" class="button">Xóa</a>
			</td>
		</tr>
		</tbody>
		<!--{/loop}-->
	</table>
	<div class="page">$multi</div>
</div>

<!--{else}-->
<div class="c_form">
	Hiện không có tin nhắn vui nào!
</div>
<!--{/if}-->

<script>
	function mypoke(id) {
		var liid = id.substr(6);
		$('poke_'+liid).style.display = "none";
	}
	function mypoke_all(id) {
		$('poke_ul').innerHTML = "Tất cả tin nhắn Poke đã bị khóa";
	}
</script>

<!--{/if}-->

<!--{template footer}-->