<!--{template header}-->
<!--{template cp_header}-->

<div class="c_form">
	<form method="post" action="cp.php?ac=password&op=">
	<table cellspacing="0" cellpadding="0" class="formtable">
		<caption>
			<h2>Thay đổi mật khẩu</h2>
			<p>Sau khi thay đổi mật khẩu, bạn cần đăng nhập lại với mật khẩu mới của mình</p>
		</caption>
		<tr>
			<th width="100">Username</th>
			<td>$space[username]</td>
		</tr>
		<tr>
			<th width="100">Mật khẩu cũ</th>
			<td><input type="password" id="password" name="password" value="" class="t_input" /></td>
		</tr>
		<tr>
			<th>Mật khẩu mới</th>
			<td><input type="password" id="newpasswd1" name="newpasswd1" value="" class="t_input"></td>
		</tr>
		<tr>
			<th>Gõ lại</th>
			<td><input type="password" id="newpasswd2" name="newpasswd2" value="" class="t_input"></td>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<td><input type="submit" name="pwdsubmit" value="Thay đổi" class="submit" /></td>
		</tr>
	</table>
	<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
	</form>
</div>

<!--{template footer}-->