<!--{eval $_TPL['nosidebar']=1;}-->
<!--{template header}-->
<div class="showmessage">
	<div class="ye_r_t"><div class="ye_l_t"><div class="ye_r_b"><div class="ye_l_b">
		<caption>
			<h2>Thông báo</h2>
		</caption>
		<p>$message</p>
		<p class="op">
		<!--{if $url_forward}-->
			<a href="$url_forward">Click vào đây nếu không tự chuyển...</a>
		<!--{else}-->
			<a href="javascript:history.go(-1);">Quay lại</a> |
			<a href="index.php">Trang chủ</a>
		<!--{/if}-->
		</p>
	</div></div></div></div>
</div>
<!--{template footer}-->
