
<div class="affiche">
	<table width="100%">
	<tr>
		<!--{if $topic[pic]}-->
		<td width="160" id="event_icon" valign="top">
			<img src="$topic[pic]" width="150">
		</td>
		<!--{/if}-->
		<td valign="top">
			<h2>
				<a href="space.php?do=topic&topicid=$topic[topicid]">$topic[subject]</a>
			</h2>
		
			<div style="padding:5px 0;">$topic[message]</div>
			<ul>
				<li class="gray">Created by: <a href="space.php?uid=$topic[uid]">{$_SN[$topic[uid]]}</a></li>
				<li class="gray">Created on: $topic[dateline]</li>
				<!--{if $topic[endtime]}--><li class="gray">last date to RSVP: $topic[endtime]</li><!--{/if}-->
				<!--{if $topic[joinnum]}-->
				<li class="gray">Attending: $topic[joinnum]</li>
				<!--{/if}-->
				<li class="gray">Sure Attendee : $topic[lastpost]</li>
			</ul>
			
			<!--{if $topic[allowjoin]}-->
			<a href="$topic[joinurl]" class="feed_po" id="hot_add" onmouseover="showMenu(this.id)">Join the fun/ Hot Popular</a>
			<ul id="hot_add_menu" class="dropmenu_drop" style="display:none;">
				<!--{if in_array('blog', $topic['jointype'])}-->
				<li><a href="cp.php?ac=blog&topicid=$topicid">Publish Blog</a></li>
				<!--{/if}-->
				<!--{if in_array('pic', $topic['jointype'])}-->
				<li><a href="cp.php?ac=upload&topicid=$topicid">Upload picture</a></li>
				<!--{/if}-->
				<!--{if in_array('thread', $topic['jointype'])}-->
				<li><a href="cp.php?ac=thread&topicid=$topicid">New Discussion</a></li>
				<!--{/if}-->
				<!--{if in_array('poll', $topic['jointype'])}-->
				<li><a href="cp.php?ac=poll&topicid=$topicid">New Poll</a></li>
				<!--{/if}-->
				<!--{if in_array('event', $topic['jointype'])}-->
				<li><a href="cp.php?ac=event&topicid=$topicid">Create Event</a></li>
				<!--{/if}-->
				<!--{if in_array('share', $topic['jointype'])}-->
				<li><a href="cp.php?ac=share&topicid=$topicid">Share</a></li>
				<!--{/if}-->
			</ul>
			<!--{else}-->
			<p class="r_option">Oops..! The offer have been Closed, Keep visiting, coming soon</p>
			<!--{/if}-->
		</td>
	</tr></table>
</div>
