<!--{eval $_TPL['titles'] = array($fieldtitle, 'Groups');}-->
<!--{template header}-->

<div class="searchbar floatright">
<form method="get" action="space.php">
	<input name="searchkey" value="" size="15" class="t_input" type="text">
	<input name="searchsubmit" value="Search Groups" class="submit" type="submit">
	<input type="hidden" name="searchmode" value="1" />
	<input type="hidden" name="do" value="mtag" />
	<input type="hidden" name="view" value="hot" />
</form>
</div>
<h2 class="title"><img src="image/app/mtag.gif">Groups</h2>

<!--{if $space[self]}-->
<div class="tabs_header">
	<ul class="tabs">
		<li><a href="space.php?uid=$space[uid]&do=thread"><span>Group topic</span></a></li>
		<li><a href="space.php?do=mtag&view=me"><span>My Groups</span></a></li>
		<li><a href="space.php?do=mtag&view=manage"><span>My  Owned</span></a></li>
		<li class="active"><a href="space.php?do=mtag&view=hot"><span>Popular  Groups</span></a></li>
		<li><a href="space.php?do=mtag&view=recommend"><span>Proposed</span></a></li>
		<li class="null"><a href="cp.php?ac=thread">Create New Topic</a></li>
		<li class="null"><a href="cp.php?ac=mtag">Create Group</a></li>
	</ul>
</div>
<!--{/if}-->

<div class="h_status">
Group Category: 
<a href="space.php?do=mtag&view=hot"{$sub_actives[0]}>All</a>
<!--{loop $_SGLOBAL['profield'] $value}-->
<span class="pipe">|</span><a href="space.php?do=mtag&id=$value[fieldid]"{$sub_actives[$value[fieldid]]}>$value[title]</a>
<!--{/loop}-->
</div>

<div class="box">
	<!--{if $list}-->
	<ul class="thread_list">
	<!--{loop $list $value}-->
		<li>
			<div class="threadimg60"><a href="space.php?do=mtag&tagid=$value[tagid]"><img src="$value[pic]" style="width:60px;"></a></div>
			<a href="space.php?do=mtag&tagid=$value[tagid]">$value[tagname]</a><br />
 Already сп <span class="num">$value[membernum]</span> users are participating
			<div class="gray">
				Topic: $value[threadnum], Reply: $value[postnum]
			</div>
		</li>
	<!--{/loop}-->
	</ul>
	<div class="page">$multi</div>
	<!--{else}-->
	<p>There is no Group</p>
	<!--{/if}-->
</div>

<!--{template footer}-->
