<!--{eval $_TPL['titles'] = array('Tin nhắn');}-->
<!--{template header}-->

<h2 class="title"><img src="image/icon/pm.gif">Tin nhắn</h2>

<div class="tabs_header">
	<ul class="tabs">
		<li class="active"><a href="space.php?do=pm"><span>Tin nhắn</span></a></li>
		<li><a href="space.php?do=notice"><span>Thông báo</span></a></li>
		<!--{if $_SCONFIG['my_status']}-->
		<li><a href="space.php?do=notice&view=userapp"><span>Ứng dụng thông báo</span></a></li>
		<!--{/if}-->
		<li class="null"><a href="cp.php?ac=pm">Gửi tin nhắn</a></li>
	</ul>
</div>

<div class="h_status">
	<a href="space.php?do=pm&filter=newpm"$actives[newpm]>Tin nhắn chưa đọc</a><span class="pipe">|</span>
	<a href="space.php?do=pm&filter=privatepm"$actives[privatepm]>Tin nhắn cá nhân</a><span class="pipe">|</span>
	<a href="space.php?do=pm&filter=systempm"$actives[systempm]>Tin nhắn hệ thống</a><span class="pipe">|</span>
	<a href="space.php?do=pm&filter=announcepm"$actives[announcepm]>Tin nhắn chung</a><span class="pipe">|</span>
	<a href="space.php?do=pm&subop=ignore"$actives[ignore]>Danh sách cấm</a>
	<!--{if $touid}-->
	<br>
		Your history:
		<a href="space.php?do=pm&subop=view&touid=$touid&daterange=1"$actives[1]>Cách đây 1 ngày</a> | 
		<a href="space.php?do=pm&subop=view&touid=$touid&daterange=2"$actives[2]>Cách đây 2 ngày</a> | 
		<a href="space.php?do=pm&subop=view&touid=$touid&daterange=3"$actives[3]>Cách đây 3 ngày</a> | 
		<a href="space.php?do=pm&subop=view&touid=$touid&daterange=4"$actives[4]>Tuần này</a> | 
		<a href="space.php?do=pm&subop=view&touid=$touid&daterange=5"$actives[5]>Tất cả</a>
	<!--{/if}-->
</div>

<div class="c_form">

<!--{if $_GET['subop'] == 'view'}-->

<!--{if $list}-->
<ul class="pm_list" id="pm_ul">
	<!--{loop $list $key $value}-->
	<li class="s_clear">
		<div class="avatar48">
			<!--{if $value[msgfromid]}-->
			<a href="space.php?uid=$value[msgfromid]"><!--{avatar($value[msgfromid],small)}--></a>
			<!--{else}-->
			<img src="image/systempm.gif" width="48" height="48" />
			<!--{/if}-->
		</div>
		<div class="pm_body"><div class="pm_h"><div class="pm_f">
			<p><!--{if $value[msgfromid]}--><a href="space.php?uid=$value[msgfromid]">{$_SN[$value[msgfromid]]}</a> <!--{/if}--><span class="gray"><!--{date('Y-m-d H:i',$value[dateline],1)}--></span></p>		
			<div class="pm_c">
				$value[message]
			</div>
		</div></div></div>
	</li>
	<!--{/loop}-->
</ul>
<!--{else}-->
<div class="c_form">
	Không có tin nhắn liên quan.
</div>
<!--{/if}-->

<!--{if $touid && $list}-->
<ul class="pm_list" id="pm_ul_post">
	<li class="s_clear">
		<div class="avatar48">
			<a href="space.php?uid=$space[uid]"><!--{avatar($space[uid],small)}--></a>
		</div>
		<div class="pm_body"><div class="pm_h"><div class="pm_f">
			<p><a href="space.php?uid=$space[uid]">{$_SN[$space[uid]]}</a></p>		
			<div class="pm_c">
				<form id="pmform" name="pmform" method="post" action="cp.php?ac=pm&op=send&touid=$touid&pmid=$pmid&daterange=$daterange">
				<textarea id="pm_message" name="message" cols="40" rows="4" style="width: 95%;" onkeydown="ctrlEnter(event, 'pmsubmit');"></textarea><br>
				<p style="padding-top:5px;">
					<input type="submit" name="pmsubmit" id="pmsubmit" value="Reply" class="submit" />
				</p>
				<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
				</form>
			</div>
		</div></div></div>
	</li>
</ul>
<!--{/if}-->

<!--{elseif $_GET['subop'] == 'ignore'}-->

<form id="ignoreform" name="ignoreform" method="post" action="cp.php?ac=pm&op=ignore">
	<table cellspacing="0" cellpadding="0" class="formtable" width="100%">
		<caption>
			<h2>Danh sách cấm PM</h2>
			<p>Không nhận tin nhắn từ người có trong danh sách này<br />
				Nhập nhiều tên cách nhau bởi ",", Ví dụ: kienngohik, saokim999 <br />
				Nếu bạn không muốn nhận được bất cứ tin nhắn nào, điền "&#123;All&#125;"</p>
		</caption>
		<tr>
			<td><textarea id="ignorelist" name="ignorelist" cols="40" rows="6" style="width: 98%;" onkeydown="ctrlEnter(event, 'ignoresubmit');">$ignorelist</textarea></td>
		</tr>
		<tr>
			<td><input type="submit" name="ignoresubmit" id="ignoresubmit" value="Save" class="submit" /></td>
		</tr>
	</table>
	<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
</form>

<!--{else}-->

<!--{if $count}-->
	<ol class="pm_list">
	<!--{loop $list $key $value}-->
		<li<!--{if $key%2==1}--> class="alt"<!--{/if}-->>
		<div class="avatar48">
			<!--{if $value[touid]}-->
			<a href="space.php?uid=$value[touid]"><!--{avatar($value[touid],small)}--></a>
			<!--{else}-->
			<img src="image/systempm.gif" width="48" height="48" />
			<!--{/if}-->
		</div>
		<div class="pm_body"><div class="pm_h"><div class="pm_f">
			<p>
			<!--{if $value[touid]}-->
			<a href="space.php?uid=$value[touid]">{$_SN[$value[touid]]}</a> 
			<!--{/if}-->
			<span class="gray"><!--{date('n-j H:i',$value[dateline],1)}--></span></p>		
			<div class="pm_c">
				$value[message]
				<p>
				<!--{if $value[touid]}-->
				<a href="space.php?do=pm&subop=view&pmid=$value[pmid]&touid=$value[touid]&daterange=$value[daterange]">Xem chi tiết</a>
				<!--{else}-->
				<a href="space.php?do=pm&subop=view&pmid=$value[pmid]">Xem chi tiết</a>
				<!--{/if}-->
				</p>
			</div>
			<a href="cp.php?ac=pm&op=delete&folder=inbox&pmid=$value[pmid]" id="a_delete_$value[pmid]" class="float_del" onclick="ajaxmenu(event, this.id)">Xóa</a>
		</div></div></div>
		</li>
	<!--{/loop}-->
	</ol>
	
	<div class="page">$multi</div>
	
<!--{else}-->
<div class="c_form">
	Không có tin nhắn nào.
</div>
<!--{/if}-->

<!--{/if}-->

</div>

<!--{template footer}-->
