<!---Game Thầy Bói Online được phát triển bởi Kết Nối trẻ group -->
<!---Vui lòng giữ bản của Kết Nối trẻ group -->
<!---Cám ơn bạn đã sử dụng sản phẩm của Kết Nối trẻ group -->

<!--{template header}-->
<marquee><font size=2 color=blue><b>Bạn Đang Xem Bói Tại Kết Nổi Trẻ Group, Chúc các bạn 1 ngày vui vẻ</b></font></marquee>
<div class="c_header a_header">

<iframe src="thinhthay/index.php" name="frame1" scrolling="no" frameborder="no" align="center" height = "390" width = "100%"></iframe>

<center><font color=red size=2><a href="http://ketnoitre.org/home"><b>Phát Triển Bởi Kết Nối Trẻ Group</b></a></font></center>
<!--{template footer}-->